:root {
  font-family: "Noto Sans JP", sans-serif;
  --primary: 99 102 241; // rgb(99, 102, 241)
  --primary-50: 214 218 251; // rgb(214, 218, 251)
  --primary-100: 187 194 247; // rgb(187, 194, 247);
  --primary-200: 150 160 242; // rgb(150, 160, 242);
  --primary-300: 101 113 234; // rgb(101, 113, 234);
  --primary-400: 41 58 218; // rgb(41, 58, 218);
  --primary-500: 99 102 241; // rgb(99, 102, 241); /* 新的主颜色 */
  --primary-600: 73 77 211; // rgb(73, 77, 211);
  --primary-700: 60 62 180; // rgb(60, 62, 180);
  --primary-800: 48 49 150; // rgb(48, 49, 150);
  --primary-900: 37 38 124; // rgb(37, 38, 124);
  --primary-950: 20 21 79; // rgb(20, 21, 79);
  --surface-0: 255 255 255; // rgb(255, 255, 255);
  --surface-50: 248 250 252; // rgb(248, 250, 252);
  --surface-100: 241 245 249; // rgb(241, 245, 249);
  --surface-200: 226 232 240; // rgb(226, 232, 240);
  --surface-300: 203 213 225; // rgb(203, 213, 225);
  --surface-400: 148 163 184; // rgb(148, 163, 184);
  --surface-500: 100 116 139; // rgb(100, 116, 139);
  --surface-600: 71 85 105; // rgb(71, 85, 105);
  --surface-700: 45 55 72; // rgb(45, 55, 72);
  --surface-800: 30 41 59; // rgb(30, 41, 59);
  --surface-900: 15 23 42; // rgb(15, 23, 42);
  --surface-950: 3, 6 23; // rgb(3, 6 23);
  // fc-button
  --fc-button-text-color: #fff;
  --fc-button-bg-color: rgb(100, 116, 139);
  --fc-button-border-color: rgb(100, 116, 139);
  --fc-button-hover-bg-color: rgb(71, 85, 105);
  --fc-button-hover-border-color: rgb(71, 85, 105);
  --fc-button-active-bg-color: rgb(45, 55, 72);
  --fc-button-active-border-color: rgb(45, 55, 72);
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-sc {
  font-family: "Noto Sans SC", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
.noto-sans-en {
  font-family: "Noto Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
